.album-card-img {
    height: calc(18rem - 1px);
    width: calc(18rem - 1px);
    transform: scale(1,1);
    transition-duration: 400ms;
    transition-timing-function: ease-out;
    overflow: hidden;
}

.card-body:hover {
    box-shadow: 5px 0 10px -5px #333, 0 5px 10px -5px #333,-5px 0 10px -5px #333;
}

.card-img {
    overflow: hidden;
}

.album-link {
    color: black;
}