.text-center {
    text-align: center!important;
}

/*@media (min-width: 768px) {
    .main {
        margin-left: 250px;
    }
}*/

.main {
    margin-top: 85px;
}


.steppedLeft {
    margin-left: 250px;
}