<div class="artist-content">
  <h2>{{artist.name}}</h2>
  <div class="col-sm-12 header-info">
    <p class="artist-description">
      <img src="{{artist.photoUrl}}" alt="{{artist.name}}" class="artist-photo"> {{artist.description}}
    </p>
  </div>
  <hr>
  <h3>Albums</h3>
  <div class="col-sm-12">
    <div *ngFor="let albumRow of albums">
      <div class="row">
        <div *ngFor="let album of albumRow">
          <div class="col-sm-4">
            <app-album-card [album]="album"></app-album-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>