<nav id="sidebar" [ngClass]="{hidden: isHidden}">
    <div class="sidebar-header">
        <img class="user-img" src="http://getthinapp.com/static/images/users/71-1436214917.png" alt="user">
        <br>
        <a class="panel-link" (click)="isCollapsed = !isCollapsed">
            <i *ngIf="!isCollapsed" class="fa fa-angle-up fa-3x"></i>
            <i *ngIf="isCollapsed" class="fa fa-angle-down fa-3x"></i>
        </a>
        <ul class="collapse list-unstyled" id="homeSubmenu" [collapse]="isCollapsed">
            <li>   
                <a class="panel-link" href="#">My Profile</a>
            </li>
            <li>
                <a class="panel-link" (click)="logOut()">Log out</a>
            </li>
        </ul>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a class="panel-link" routerLink="/songs">Songs</a>
        </li>
        <li>
            <a class="panel-link" href="#">Playlists</a>
        </li>
        <li>
            <a class="panel-link" href="#">Albums</a>
        </li>
        <li>
            <a class="panel-link" href="#">Artists</a>
        </li>
    </ul>
</nav>

<button type="button" id="sidebarCollapse" class="btn btn-inverse navbar-btn" (click)="toggleSideBar()">
    <i class="glyphicon glyphicon-align-left"></i>
    Toggle Sidebar
</button>