.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    margin-top: -85px;
    position: fixed;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    z-index: 1040;
}

#sidebar.hidden {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

#sidebar {
    background: black;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background:black;
    min-height: 160px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid black;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: white;
    background: #191919;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #ececec;
    background: #191919;
}

.panel-link {
    color: #ececec;
    cursor: pointer;
}

#sidebarCollapse {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1050;
}

@media (max-width: 768px) {
    #sidebarCollapse {
        display: none;
    }
}

.user-img {
    height: 120px;
    width: 120px;
}

.list-unstyled {
    list-style: none;
}
