<div class="song" [ngClass]="{'active-song' : isCurrent}">
    <table>
        <tr>
            <td rowspan="2" *ngIf="isFromAlbum" style="width: 20px;">
                <h6>{{song.order}}</h6>
            </td>
            <td rowspan="2">
                <i class="fa fa-play-circle play-btn" (click)="Play()" *ngIf="!isCurrent || (isCurrent && !isPlaying)"
                 style="font-size:35px;margin-right: 10px;"></i>

                 <i class="fa fa-pause-circle play-btn" (click)="Play()" *ngIf="isCurrent && isPlaying"
                 style="font-size:35px;margin-right: 10px;"></i>
            </td>
            <td rowspan="2" *ngIf="!isFromAlbum">
                <a routerLink="/album/{{song.album.id}}">
                    <img src="{{song.album.coverUrl}}" class="song-cover">
                </a>
            </td>
            <td>
                <p class="song-title">{{song.name}}</p>
            </td>
        </tr>
        <tr *ngIf="!isFromAlbum">
            <td>
                <a routerLink="/artist/{{song.album.artist.id}}" class="artist-link">{{song.album.artist.name}}</a>
            </td>
        </tr>
    </table>
    <i *ngIf="!playlistService.mainSongs.includes(song.id)" class="fa fa-plus-circle add-icon" aria-hidden="true" (click)="addToMainPlaylist(song.id)"></i>
    <i *ngIf="playlistService.mainSongs.includes(song.id)" class="fa fa-check-circle add-icon" aria-hidden="true" (click)="removeFromMainPlaylist(song.id)"></i>
</div>