<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="navbar-collapse collapse show" id="navbarContent">
    <form class="form-inline my-2 my-lg-0 col-md-12" id="searchForm">
      <input class="form-control mr-sm-2 col-md-6 offset-sm-3" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-inverse my-12 my-sm-12" type="submit">
        <b>Search</b>
      </button>
    </form>
  </div>
  <a class="navbar-brand" href="#">
      <img class="header-logo" src="https://cdn.musichouseschool.com/sprites/saxophone-icon-hover-new.png">
  </a>
</nav>