nav {
    background-color: black;
    height: 85px;
}

.navbar {
    padding: 0;
}

.header-logo {
    width: 70px;
}

.navbar-brand {
    margin-right: 16px;
}

#searchForm {
    margin: 0 auto;
    margin-left: 70px;
}

.navbar-collapse {
    flex-basis: 0%;
}

#searchInput {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 0px !important;
}

#dropdownBtn {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    width: 45px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: white;
    margin-right: 5px;
}

#searchMenu {
    left: -112px !important;
}

.checkbox label:after {
    content: '';
    display: table;
    clear: both;
  }
  
  .checkbox .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    margin-right: .5em;
  }
  
  .checkbox .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 15%;
  }
  
  .checkbox label input[type="checkbox"] {
    display: none;
  }
  
  .checkbox label input[type="checkbox"]+.cr>.cr-icon {
    opacity: 0;
  }
  
  .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
    opacity: 1;
  }
  
  .checkbox label input[type="checkbox"]:disabled+.cr {
    opacity: .5;
  }

  .form-inline label {
      justify-content: left;
      margin-left: 5px;
  }
