<form [formGroup]="registerForm" class="form-register text-center" (ngSubmit)="register()">
  <img class="mb-4 login-logo" src="https://4vector.com/i/free-vector-piano-clip-art_114180_Piano_clip_art_hight.png" alt=""
    width="216px">
  <h1 class="h3 mb-3 font-weight-normal">Register</h1>

  <div class="form-group" >
    <label for="inputName" class="sr-only">User Name</label>
    <input id="inputName" name="userName" formControlName="username" class="form-control" placeholder="User Name"
      [ngClass]="{'is-invalid': registerForm.get('username').errors && registerForm.get('username').touched}">
    <span class="help-block invalid-feedback" *ngIf="registerForm.get('username').hasError('required') && registerForm.get('username').touched">
      UserName is required
    </span>
  </div>

  <div class="form-group" >
    <label for="email" class="sr-only">Email</label>
    <input id="inputEmail" name="email" formControlName="email" class="form-control" placeholder="Email"
      [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}">
    <span class="help-block invalid-feedback" *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">
      Email is required
    </span>
    <span class="help-block invalid-feedback" *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').touched">
      Wrong email format
    </span>
  </div>

  <div class="form-group" >
    <label for="dateOfBirth" class="sr-only">Date of Birth</label>
    <input id="inputBirthDate" name="dateOfBirth" formControlName="dateOfBirth" class="form-control" placeholder="Date of Birth"
      [ngClass]="{'is-invalid': registerForm.get('dateOfBirth').errors && registerForm.get('dateOfBirth').touched}" type="text"
      bsDatepicker [bsConfig]="bsConfig">
    <span class="help-block invalid-feedback" *ngIf="registerForm.get('dateOfBirth').hasError('required') && registerForm.get('dateOfBirth').touched">
      Date of Birth is required
    </span>
  </div>

  <div class="form-group" >
    <label class="radio-inline">
      <input type="radio" value="male" formControlName="gender">Male
    </label>
    <label class="radio-inline">
        <input type="radio" value="female" formControlName="gender">Female
    </label>
    <label class="radio-inline">
        <input type="radio" value="another" formControlName="gender">Another
    </label>
    <span class="help-block invalid-feedback" *ngIf="registerForm.get('gender').hasError('required') && registerForm.get('gender').touched">
      Gender is required
    </span>
  </div>

  <div class="form-group" >
    <label for="country" class="sr-only">Country</label>
    <select formControlName="idcountry" class="form-control" 
    [ngClass]="{'is-invalid': registerForm.get('idcountry').errors && registerForm.get('idcountry').touched}">
      <option value="" selected disabled hidden>Country</option>
      <option *ngFor="let country of countryList" value="{{country.id}}">{{country.name}}</option>
    </select>
    <span class="help-block invalid-feedback" *ngIf="registerForm.get('idcountry').value ==='' && registerForm.get('idcountry').touched">
      Country is required
    </span>
  </div>

  <div class="form-group">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name="password" formControlName="password" class="form-control" placeholder="Password"
    [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}">
    <span class="help-block invalid-feedback" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
      Password is required
    </span>
    <span class="help-block invalid-feedback" *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">
      Password length cannot exceed 20 symbols.
    </span>
    <span class="help-block invalid-feedback" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">
      Password should contain at least 8 symbols.
    </span>
  </div>

  <div class="form-group">
  <label for="confirmPassword" class="sr-only">Password</label>
  <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" class="form-control"
    placeholder="Confirm Password" [ngClass]="{'is-invalid': (registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').touched) ||
    (registerForm.hasError('mismatch') && registerForm.get('confirmPassword').touched)}">
    <span class="help-block invalid-feedback" *ngIf="registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched">
      Confirm Password is required
    </span>
    <span class="help-block invalid-feedback" *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword').touched">
      Passwords must match
    </span>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-black btn-block" [disabled]="!registerForm.valid" type="submit">Register</button>
  <a [routerLink]="['/login']">Go to login page</a>
  <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
</form>